extends ./layout/app

block contenido

  section(class="py-10")
    h2(class="text-center text-4xl font-extrabold pt-10") Upps...
    h3(class="text-center text-3xl font-extrabold") Parece que la Página que buscas, No se encuentra.
