extends ../layout/index.pug

block contenido
  div(class="py-3")
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal Raices
    h2(class="text-center text-2xl")= pagina

    p(class="text-xl font-bold text-center my-10")=mensaje 